fastapi
uvicorn[standard]
python-multipart
pydantic
PyPDF2
pdf2image
pytesseract
fpdf
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
aiohttp
google-generativeai
groq
python-dotenv