fastapi
uvicorn[standard]
python-multipart
pydantic
PyPDF2
pdf2image
pytesseract
fpdf
langchain-core
langchain-community
langchain_google_genai
langchain-chroma
chromadb
sentence-transformers
aiohttp
google-genai
groq
python-dotenv